body 
{
    color: lightgrey;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;


}

#cabecera
{
    color: blueviolet;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background: lightgrey;


}

#cabecera #eslogan
{
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    background: lightgrey;


}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #dddddd;
    margin : 2px auto;

}


#container h1
{

    font-size: 20px;


}

#footer
{
    background: yellow;
    color:black;
    


}